<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="icon" type="image/x-icon" href="/images/assassin.ico">-->
    <title>Assassin - {% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8344009507277508"
     crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
        <nav>
        {% if current_user.is_authenticated %}
            <p>Logged in as: <strong>{{ current_user.username }}</strong></p>
            <a href="{{ url_for('logout') }}"><button>Logout</button></a>
            {% else %}
            <p>You are not logged in</p>
            <a href="{{ url_for('login') }}"><button>Login</button></a>
        {% endif %}
        </nav>

        <div class="content">
            {% block content %}{% endblock %}
        </div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8344009507277508"
     crossorigin="anonymous"></script>
<!-- lower banner -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8344009507277508"
     data-ad-slot="2488851981"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>
